.filters {
	margin-top: 16px;
	z-index: 100;
}

.wrapper {
	margin-top: 30px;
}

.wrapperHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.movies {
	margin-top: 15px;
	display: flex;
	gap: 30px 47px;
	flex-wrap: wrap;
}

.emptyPhrase {
	text-align: center;
	display: block;
	margin-top: 30px;
}

.loaderWrapper {
	position: relative;
	height: 60px;
	margin-top: 20px;
}

.loaderWrapper span {
	background: none;
}

.clearButton {
	width: 22px;
	height: 21px;
}

.clearButton svg {
	fill: var(--secondary);
}

.titleWrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

@media (max-width: 1250px) {
	.movies {
		gap: 39px;
	}
}

@media (max-width: 770px) {
	.movies {
		gap: 27px;
	}
}

@media (max-width: 640px) {
	.movies {
		margin-top: 20px;
		gap: 16px;
	}
	.filters {
		flex-wrap: wrap;
	}
}
