.table {
	min-width: 0;
	table-layout: fixed;
}

.table tr th, .table tr td {
	min-width: 0;
	padding: 20px 30px;
}

.table tr th:nth-child(1), .table tr td:nth-child(1) {
	width: 46px;
}

.table tr th:nth-child(2), .table tr td:nth-child(2) {
	width: 160px;
}

.table tr th:nth-child(3), .table tr td:nth-child(3) {
	width: 92px;
}

.table tr th:nth-child(4), .table tr td:nth-child(4) {
	width: 130px;
}

.table tr th:nth-child(5), .table tr td:nth-child(5) {
	width: 165px;
}

.profile {
	display: flex;
	align-items: center;
	gap: 10px;
}

.avatar {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	flex-shrink: 0;
}

.avatar img {
	object-fit: cover;
}

.points {
	display: flex;
	align-items: center;
	gap: 5px;
}

.coin {
	background: var(--primary);
	border-radius: 50%;
}