.main > div {
	border-top: 1px solid var(--gray-dark);
	padding-top: 15px;
}

div.name {
	border-top: none;
	padding-top: 0;
}

.input {
	max-width: 300px;
}

.errorBlock {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.errorBlock div {
	margin-top: 0;
}

.wrapper {
	margin-top: 20px;
}

.awardsWrapper {
	display: flex;
	column-gap: 48px;
	row-gap: 15px;
	flex-wrap: wrap;
}

.cell {
	padding-inline: 25px;
	padding-block: 25px;
	min-width: auto;
	flex-basis: calc(100% / 6);
	cursor: pointer;
}

.cell svg {
	min-width: auto;
	max-width: none;
	max-height: none;
	height: 70px;
	width: 70px;
}
